.test-wrapper {
    background-color: var(--white);
}
.test-content {
    width: 80%;
    margin: 0 auto;
}
.quiz-parameters {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    top: -20px;
}
.quiz-counter {
    border: 1px solid var(--main-theme);
    font-size: 16px;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: 150px;
    background-color: var(--white);
}
.timer-wrapper {
    font-size: 20px;
    font-weight: bold;
    display: flex;
    padding: 5px;
    justify-content: center;
    align-items: center;
    width: 50px;
    background-color: var(--white);
    color: var(--main-dark);
}
.quiz-cards {
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.cards {
    width: 80%;
    padding: 40px 0;
}
.card {
    display: none;
}
.card-question {
    padding: 0 20px 20px;
    margin: auto;
    font-weight: 700;
    overflow: visible;
    height: 20px;
}
.active {
    display: flex;
    flex-direction: column;
}
.variants {
    padding: 50px 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.variant {
    width: 45%;
    height: 55px;
    border: 2px solid var(--main-dark);
    margin: 0 10px 10px 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: black;
    cursor: pointer;
    text-align: center;
}
.selected-variant {
    background-color: var(--main-dark);
    color: var(--white);
}
.variant:hover {
    background-color: #dedcdc;
}
.selected-variant:hover {
    background-color: var(--selected);
}
.card-buttons {
    display: flex;
    justify-content: end;
    align-items: center;
    width: 90%;
    margin: 0 auto;
}
.end-quiz-btn {
    border: 1px solid var(--main-theme);
    color: var(--main-theme);
    outline: none;
}
.complete-btn {
    border: none;
    outline: none;
    background-color: var(--main-theme);
    color: var(--white);
}
.complete-quiz-btn {
    border: none;
    outline: none;
    background-color: var(--main-theme);
    color: var(--white);
}
.complete-quiz-btn:hover {
    background-color: var(--selected);
}
.end-quiz-btn:hover {
    background-color: #C4C4C4;
}
.complete-btn:hover {
    background-color: var(--selected);
}
.card-button {
    margin-left: 10px;
    padding: 10px 12px;
    font-size: 14px;
    cursor: pointer;
}
.slider-btn {
    border: 1px solid #454545;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
}
.slider-btn:hover {
    background-color: var(--gray);
}
.return-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-theme);
    color: var(--white);
    cursor: pointer;
    border: none;
    outline: none;
    margin: 0 auto;
}
@media (max-width: 820px) {
    .test-wrapper {
        width: 100%;
    }
    .quiz-counter {
        left: 55%;
        top: -17px;
    }
    .test-content {
        width: 90%;
    }
    .cards {
        padding: 0;
    }
    .card-question {
        overflow: visible;
        height: 80px;
        padding: 0;
        text-align: center;
    }
    .variants {
        flex-direction: column;
        padding: 0;
        justify-content: center;
        align-items: center;
    }
    .variant {
        width: 90%;
        margin: 5px auto;
    }
    .card-buttons {
        padding: 20px 0;
    }
    .slider-btn:active {
        background-color: #C4C4C4;
    }
}
