.header-wrapper {
    width: 60%;
    margin: 0 auto;
    background-color: var(--selected);
    color: var(--white);
}
.header-links {
    width: 70%;
    height: 20px;
    display: flex;
    justify-content: end;
    align-items: center;
    margin: 0 auto;
}
.header-link-logo {
    height: 20px;
    width: 20px;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--main-dark);
}
.header-link-logo img {
    object-fit: contain;
    height: 18px;
    width: 18px;
}
.navigation {
    height: 64px;
    display: flex;
    align-items: center;
    background-color: var(--main-theme);
}
